<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-between">
        <h2 class="text-center fst-italic text-primary fw-bold">User List</h2>
        <!-- Button trigger modal -->
        <button class="btn btn-primary text-light fw-bold me-3" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-placement="top" title="Add User" type="button">Add User</button>
    </div>
</div>

<!-- //////////User List////////// -->
<div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>Bird</td>
            <td>@twitter</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</div>


<!-- ///////////////////////////// -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- ///////// Modal Body ///////// -->
        <div class="modal-body">
          <!-- /////////Add User Form ///////// -->
          <form #userForm="ngForm" class="row g-3 form-group" (ngSubmit)="handleOnSubmit(userForm.value);userForm.reset()">

            <!-- //// First Name //// -->
            <div class="col-md-6">
                <label for="inputFirstName" class="form-label fw-bold">First Name</label>
                <input required ngModel #userFirstName="ngModel" name="firstName" type="text"
                    class="form-control" id="inputFirstName" placeholder="First Name">
            </div>
            <!-- //// Last Name //// -->
            <div class="col-md-6">
                <label for="inputLastName" class="form-label fw-bold">Last Name</label>
                <input required ngModel #userLastName="ngModel" name="lastName" type="text"
                    class="form-control" id="inputLastName" placeholder="Last Name">
            </div>
            <!-- //// Gender //// -->
            <div class="col-md-4">
                <label for="inputGender" class="form-label fw-bold">Gender</label>
                <select required ngModel #gender="ngModel" name="gender" class="form-select form-control"
                    id="inputGender" placeholder="Gender" aria-label="Select Gender">
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                    <option value="Non-Binary">Non-Binary</option>
                </select>
            </div>
            <!-- //// Phone Number //// -->
            <div class="col-md-4">
                <label for="inputPhone" class="form-label fw-bold">Phone</label>
                <input required ngModel #phone="ngModel" pattern="^\d{11}$" name="phone" type="text" class="form-control" id="inputPhone">
            </div>
            <!-- //// Location //// -->
            <div class="col-md-4">
                <label for="inputLocation" class="form-label fw-bold">Location</label>
                <input required ngModel #location="ngModel" name="location" type="text" class="form-control" id="inputLocation" placeholder="Location">
            </div>
            <!-- //// Email //// -->
            <div class="col-12">
                <label for="inputEmail" class="form-label fw-bold">Email</label>
                <input required ngModel #email="ngModel" name="email" type="text" class="form-control"
                    id="inputEmail" placeholder="abc@gmail.com">
            </div>
            
            <div class="col-12">
                <button type="submit" class="btn btn-dark fw-bold">Submit</button>
            </div>
        </form>
          <!-- ///////////////// -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<!-- ///////////////////////////// -->