<h2 class="text-center fst-italic text-primary fw-bold mt-5 mb-5">User Contact List</h2>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
          <div class="card h-100">
            
            <div class="card-body">
              <h5 class="card-title text-center">User Name</h5>
              <p class="card-text">Phone No: </p>
              <p class="card-text">Email: </p>
            
              <!-- card footer -->
            <div class="card-footer">
              <small class="text-muted">Located in Dhaka</small>
            </div>
          </div>
        </div>
        
      </div>
</div>