<nav class="navbar bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-light fst-italic mb-0 h1 fs-2" routerLink="/">User Info</a>
        <div class="d-flex">
            <button class="btn btn-outline-dark text-light fw-bold me-3" data-bs-toggle="tooltip"
                data-bs-placement="top" title="User List" type="submit" routerLink="/userList">User List</button>

            <button class="btn btn-outline-dark text-light fw-bold me-3" data-bs-toggle="tooltip"
                data-bs-placement="top" title="User List" type="submit" routerLink="/updateUser">Update User</button>
            
                <button class="btn btn-outline-dark text-light fw-bold me-3" data-bs-toggle="tooltip"
                data-bs-placement="top" title="User List" type="submit" routerLink="/contactUser">Contact User</button>
        </div>
    </div>
</nav>




























<!-- style="background-color: #6f42c1;" -->
<!-- email validate -->
<!-- pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" -->